<h2>{{ title }}</h2>
<ul>
    <li *ngFor="let course of courses">
        {{ course }}
    </li>
</ul>
<p>
    <!-- NOTE:  If component field ``isActive`` is true, then the property
                value of ``class`` will be set to "btn btn-primary active".

         NOTE:  See https://www.w3schools.com/jsref/dom_obj_style.asp
                for the list of HTML DOM Object Styles.
    -->
    <button class="btn btn-primary"
            [class.active]="isActive"
            [style.backgroundColor]="isActive ? 'blue' : 'green'"
            (click)="onClick($event)">Click me!</button>
</p>
<p>
    <input [(ngModel)]="inputValue" (keyup.enter)="onKeyUpEnter()" />
</p>
<p>
    {{ angularCourse.title | uppercase }} <br/>
    {{ angularCourse.students | number }} <br/>
    {{ angularCourse.rating | number: '1.2-2' }} <br/>
    {{ angularCourse.price | currency:'AUD':true:'3.2-2' }} <br/>
    <!-- Reference: https://angular.io/api/common/DatePipe -->
    {{ angularCourse.releaseDate | date:'shortDate' }} <br/>
    {{ angularCourse.description | summary:20 }}
</p>
<!-- NOTE:  Property Binding is one-way: Component to DOM.
            Value changes in DOM will not be propagated to the Component.
-->
<img [src]="imageUrl"/>
