<form #f="ngForm" (submit)="submit(f.value)">
    <div class="form-group">
        <label for="name">Course Name</label>
        <input
            ngModel
            required
            #name="ngModel"
            class="form-control"
            id="name"
            name="name"
            type="text"
            minlength="3">
        <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
            <div *ngIf="name.errors?.required">Name field is required.</div>
            <div *ngIf="name.errors?.minlength">Name field should be at least {{ name.errors?.minlength.requiredLength }} characters.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select
            ngModel
            required
            #category="ngModel"
            id="category"
            name="category"
            class="form-control">
                <option value=""></option>
                <option *ngFor="let c of categories" [value]="c.id">{{ c.name }}</option>
        </select>
        <div *ngIf="category.touched && category.invalid" class="alert alert-danger">
            Category field is required.
        </div>
    </div>
    <div class="form-group">
        <label>
            <input
                ngModel
                id="moneyBackGuarantee"
                name="moneyBackGuarantee"
                type="checkbox">
            30-day money-back guarantee?
        </label>
    </div>
    <p>{{ f.value | json }}</p>
    <button class="btn btn-primary" [disabled]="f.invalid">Create</button>
</form>